@media (max-width: 1920px){
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 0;
    margin:20px auto 5px;
    padding: 10px;
    border-radius: 3px; 
    word-wrap: break-word;
    width: 50%;
    height: 400px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    background: rgb(178, 204, 125);
}
.formButton{
    display: flex;
    text-decoration: none;
    border: 0;
    width:  45px;
    height: 27px;
    justify-content: center;
    background: rgb(102, 51, 51);
    color: wheat;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    font-size: 19px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.formButton:hover{
    display: flex;
    text-decoration: none;
    border: 0;
    width:  45px;
    height: 27px;
    justify-content: center;
    background: rgb(102, 51, 51);
    color: wheat;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.forminput{
    display: flex;
    width: 100%;
    height: 25px;
    border-width: 1px; 
    border-color: black; 
    border-radius: 3px;
    background: rgb(255,218,185);
    border: none;
    clear:both;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}
.formtextpole{
    display: flex;
    width: 100% !important;
    height: 83% !important;
    border-radius: 5px;
    margin: 1px;
    resize: none;
    border: none;
    background: rgb(255,218,185);
     
}
.author-div{
    display: flex;
    width: 50%;
    margin-left: 5px;
    clear:both;
    font-weight: bold;
}
}
@media (max-width: 425px){
    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border: 0;
        margin:20px auto 5px;
        padding: 10px;
        border-radius: 3px; 
        word-wrap: break-word;
        width: 80%;
        height: 350px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.25);
        background: rgb(178, 204, 125);
    }
    .formtextpole{
        display: flex;
        width: 100% !important;
        height: 80% !important;
        border-radius: 5px;
        margin: 1px;
        resize: none;
        border: none;
        background: rgb(255,218,185);
         
    }
}