.back-login{
    display: flex;
    justify-content: flex-end;
    width: 38%;
    height: 100%; 
}
.login-div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    align-content: flex-start;
    width: 200px;
    height: 100px;
    border-radius: 5px;
}
.login{
    display: flex;
    width: 120px;
    margin-top: 3px;
    height: 24px;
    border-width: 1px; 
    border-color: black; 
    border-radius: 3px;
    background: rgb(229, 229, 230);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    
}
.password{
    display: flex;
    width: 120px;
    margin-top: 3px;
    height: 24px;
    border-width: 1px; 
    border-color: black; 
    border-radius: 3px;
    background: rgb(229, 229, 230);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}
.login-button{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 5px;
    margin-top: 3px;
    border: 0;
    width: 45px;
    height: 24px;
    background:rgb(102, 51, 51);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    font-size: 20px;
    padding: 3px;
    color: wheat;
}
.login-button:hover{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 5px;
    margin-top: 3px;
    border: 0;
    width: 45px;
    height: 24px;
    background:rgb(102, 51, 51);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    font-size: 22px;
    padding: 3px;
    color: wheat;
    font-weight: bold;
}
.reg-button{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 5px;
    margin-top: 3px;
    border: 0;
    width: 63px;
    height: 24px;
    background:rgb(102, 51, 51);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    font-size: 20px;
    padding: 3px;
    color: wheat;
}
.reg-button:hover{ 
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 5px;
    margin-top: 3px;
    border: 0;
    width: 63px;
    height: 24px;
    background:rgb(102, 51, 51);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 5px;
    font-size: 22px;
    padding: 3px;
    color: wheat;
    font-weight: bold;
}
.userplate{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 5%;
    width: auto;
    height: 60px;
    padding: 5px;
}
.userplate-name{
    display: flex;
    height: 24px;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(102, 51, 51);
    margin: 5px;
    width: auto;
}
.userplate-btn{
    display: flex;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 60px;
    height: 24px;
    padding: 3px;
    background:rgb(102, 51, 51);
    color: wheat;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    font-size: 20px;

}
.userplate-btn:hover{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 24px;
    padding: 3px;
    background:rgb(102, 51, 51);
    color: wheat;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    font-size: 22px;
    font-weight: bold;
}
.status{
    display: flex;
    max-width: 90%;
    margin-top: 5px;
    color: hsl(0, 95%, 74%);
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}