.wrapper{
        margin: 15px auto 15px;
        padding: 20px;
        border-radius: 2px; 
        width: 800px;
        height: 250px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
        background: rgb(206, 205, 205);
        font-family: Arial, Helvetica, sans-serif;
        position:relative;
}        
.postsTextpole{
    margin: 5px;
    width: 790px;
    height: 160px;
    overflow: hidden;
}
        
.delete{
    border: 0;
    width:  15px;
    height: 15px;
    background: rgb(247, 131, 131);
    border-radius: 8px;
    float: right;
}
.detail{
    text-decoration: none;
    text-align: center;
    margin-bottom: 1px;
    border: 0;
    width:  26px;
    height: 15px;
    background:hsl(220, 73%, 64%);
    border-radius: 3px;
    position:absolute;
    bottom: 5px;
    right: 15px;
    font-size: 16px;
    color: #fff;
    
    padding-bottom: 4px;
}